/* Profile Container */
.profile-container {
    display: flex;
    align-items: center;
    padding: 3px 20px;
    background: rgba(8, 8, 8, 0.1);
    border-radius: 8px;
    margin-bottom: 0px;
    color: white;
    flex-direction: row;
    gap: 10px;
    z-index: 1;
    /* border: 1px solid black; */
}

/* Profile Image */
.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

/* Profile Details */
.profile-details h3 {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.7px;
  text-align: center;
    text-transform: uppercase;
}

.profile-details p {
    margin: 0;
    font-size: 12px;
    color: #eee8ed;
    text-align: center;
    font-weight: 500;
    text-transform: lowercase;
}
